.white-space{
	white-space: pre-line;
}
.errorMessage{
	color: #333;
    display: block;
    font-size: 11px;
    margin-bottom: 12px;
    margin-top: 10px;
}
.error input[type=text]{
	border: 1px solid red;
}
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }
.error{
	border: 1px solid red !important;
}
.pagination__item.hidden{
	display: none;
}
.page-contacts p{
    margin: 20px 0;

	color: #393a42;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
}
.page-contacts a{
	color: #5555ad;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
}
.page-contacts hr{
	color: #ccc;
    margin: 40px 0;
}
#feedback-form .errorMessage{
	display: none !important;
}

.flash-success{
	padding: 10px 20px;
	border: 2px solid greenyellow;
	margin: 10px;
}

.flash-error{
	padding: 10px 20px;
	border: 2px solid red;
	margin: 10px;
}

.send-thesises {
    text-align: center;
}

.send-thesises a {
    background: url("/img/thesises-bg.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 21px;
    text-indent: -9999px;
    width: 143px;
}
.send-thesises a:hover {
    border: medium none;
}
#ajaxSearch_output {
    background: none repeat scroll 0 0 #393968;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 270px;
}
#ajaxSearch_output a {
    color: #ffffff;
}
#ajaxSearch_output a:hover {
    border-bottom: 1px dotted #ffffff;
}
#searchClose{
	cursor: pointer;
}
.AS_ajax_result{
	font-size: 12px;
	margin-bottom: 12px;
}
.magazines-row__m-text {
    margin: 0 2px !important;
}
.page-content.error{
	border: none !important;
}
#phone_text{
	display: none;
}